@model DataLayer.Inventory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/ManagerHeader.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Inventory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductBuyPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductBuyPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductSellPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductSellPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductQuantity)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
